body {
  background-color: beige;
  font-family: 'Bitter';
}

.CharitiesContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.Card {
  display: flex;
  background-color: white;
  box-shadow: 0 0 15px 5px rgba(0,0,0, .25);
  border-radius: 10px;
  justify-content: space-between;
  padding: 30px 60px;
}

.ContactCard {
  width: 50%;
}

.FinancesCard {
  width: 50%;
}

.grantListItem {
  padding: 5px;
}
